:root {
  --color-primary: #1f6777;
  --color-primary-light: #2ba5af;
  --color-secondary: #ffc600;
  --color-secondary-light: #ffd34b;
  --color-neutral-grey: #d4dde1;
  --color-neutral-grey-dark: #7c8a90;

  --font-primary: "Roboto", sans-serif;
  --font-secondary: "Work Sans", sans-serif;
}

html {
  font-family: var(--font-primary);
  padding-left: 1em;
  padding-right: 1em;
}

.product-name {
  font-family: var(--font-secondary);
  font-weight: 600;
}

.product-price {
  font-family: var(--font-primary);
}

.product-image {
  max-width: 24em;
}

a {
  text-decoration: none;
  color: var(--color-primary-light);
}

a:hover {
  text-decoration: underline;
  color: var(--color-primary-light);
}

mark {
  color: #fff;
  background-color: var(--color-primary-light);
}



@media only screen and (min-width: 320px) {

  .cat-2 {
    display: none;
  }

  .cat-7 {
    display: none;
  }

}

@media only screen and (min-width: 1440px) {

  .cat-2 {
    display: inline-block;
  }

  .cat-7 {
    display: inline-block;
  }

}
