.card {
  max-width: 17em;
  margin: 1em .5em;
}

.link-card {
  text-decoration: none;
}

.link-card:hover {
  text-decoration: none;
}

.featured-text {
  color: var(--color-neutral-grey-dark);
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
  white-space: nowrap;
}

.title {
  color: #000;
}

.price {
  color: var(--color-neutral-grey-dark);
}

.featured-card {
  border: 1px solid var(--color-neutral-grey-dark);
  max-width: 22em;
  margin: 1em .5em;
}
.featured-card:hover {
  border: 3px solid var(--color-primary);
}


.category-card-small {
  width: 13em;
  height: 13em;
  margin: .5em .5em;
}

.category-card-small:hover {
  border: 3px solid var(--color-primary);
}

.category-card-large {
  width: 27em;
  height: 13em;
  margin: .5em .5em;
}

.category-card-large:hover {
  border: 3px solid var(--color-primary);
}

.checkout-summary-card {
  border: 1px solid var(--color-neutral-grey-dark);
  border-radius: 8px;
  min-width: 24em;
  max-width: 30em;

}
