.card {
  max-width: 20em;
  margin: 1em .5em;
}

.link-card {
  text-decoration: none;
}

.featured-text {
  color: var(--color-neutral-grey-dark);
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
  white-space: nowrap;
}

.title {
  color: #000;
}

.price {
  color: var(--color-neutral-grey-dark);
}

.featured-card {
  border: 2px solid black;
  max-width: 462px;
  margin: 1em .5em;
}

.featured-card:hover {
  max-width: 462px;
}

.category-card-1 {
  border: 2px solid black;
  width: 264px;
  height: 264px;
  margin: 1em .5em;
  background-image: url("../images/hat.png");
  background-size: contain;
}
